$color-orange: #cd5120;
$light-grey: #EFF2F5;
$light-blue: #0085cc;
$dark-blue: #013653;
$light-black: #45494E;
$background-grey: #f8f8fa;
$dark-grey: #666A73;
$dark-green: rgb(26, 77, 26);
$light-green: rgb(40, 129, 40);