//singular event item card 
//square class gives it the scrunched up orientation
@import "util/variables.scss";

// li.events-list-item {
//   margin: 0;
//   width: 600px;
//   height: 200px;
//   align-items: center;
//   margin-bottom: 10px;
// }
div.card {
  display: flex;
  flex-direction: column;
  width: 450px;
  background: white;
  // box-shadow: 0 1px 0 0 rgba(0,0,0,.1);
  // transition: box-shadow .2s cubic-bezier(0,.2,.4,1);
  // height: 200px;
  // margin: 0;
  padding: 10px;
  // border: 1px solid black;
  margin-bottom: 10px;
}

div.card:hover {
  box-shadow: 0 3px 0 0 rgba(0,0,0,.1);
  transition: box-shadow .2s cubic-bezier(0,.2,.4,1);
}

div.card-top {
  width: 100%;
  height: 70%;
  // height: 150px;
  display: flex;
  align-items: center;
  // align-content: center;
}

div.card-footer {
  // padding: 500px;
  display: flex;
  justify-content: space-between;
}

div.card-details { 

}

div.card-img {
  width: 200px;
  height: 130px;
  padding: 10px;
  overflow: hidden;
  // background-image: url("http://res.cloudinary.com/eventbike/image/upload/v1511497460/joe-neric-223562_okhigx.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

div.card-img img {
  // width: 50%;
  // height: 50%;
}

span.card-attendees {

}

span.card-actions .active{
  color: $light-green;
}

@media (max-width: 600px) {
  // li.events-list-item {
  //   width: 400px;
  //   height: 300px;
  // }

  div.card {
    width: 350px;
  }

  div.card-top {
    flex-direction: column;
  }
}

// div.card .square {
//   flex-direction: column;
// }

div.col div.card {
  width: 250px;
  height: 300px;
  margin: auto;
  // flex-direction: column;
}
div.card.square .card-top {
  flex-direction: column;
}
//hover effect for bookmark button
span.card-actions > button.active:hover {
  color: $dark-green;
  transition-delay: 2s;
  -webkit-transition: color 0.5s ease-out;
  -moz-transition: color 0.5s ease-out;
  -o-transition: color 0.5s ease-out;
  transition: color 0.5s ease-out;
}



// div.card-top .square {
//   flex-direction: column;
// }

// li.events-list-item div.card-top {
//   flex-direction: column;
// }

// ul.events-list.squares li.events-list-item{
//   width: 400px;
//   height: 300px;
// }