//singular event item card 
//square class gives it the scrunched up orientation
@import "util/variables.scss";

// li.events-list-item {
//   margin: 0;
//   width: 600px;
//   height: 200px;
//   align-items: center;
//   margin-bottom: 10px;
// }
div.card a{
  padding: 0;
}
div.card {
  display: flex;
  flex-direction: column;
  width: 450px;
  // background: white;
  // box-shadow: 0 1px 0 0 rgba(0,0,0,.1);
  // transition: box-shadow .2s cubic-bezier(0,.2,.4,1);
  // height: 200px;
  // margin: 0;
  padding: 10px;
  // border: 1px solid black;
  margin-bottom: 10px;
}

div.card-footer:hover {
  
}

div.card > a:hover > div.card-footer{
  // color: blue;
  
}

div.card-top {
  // width: 100%;
  // height: 70%;
  // height: 150px;
  display: flex;
  align-items: center;
  width: 100%;
  // background: white;
  // align-content: center;
}

div.card-footer {
  // padding: 500px;
  border-top: 1px solid $light-grey;
  font-family: "Kalam";
  display: flex;
  justify-content: space-between;
  background: white;

}
div.card-footer a {
  padding-left: 5px;
}
div.card-footer a:hover {
  color: $light-blue;
  -webkit-transition: color 0.5s ease-out;
  -moz-transition: color 0.5s ease-out;
  -o-transition: color 0.5s ease-out;
  transition: color 0.5s ease-out;
}
span.card-attendees {
  color: $dark-grey;
}
div.card-details {
  font-family: "Oxygen";
  display: block;
  text-align: center;
  // padding: 10px;
}
div.card-details h3{ 
  font-size: 12px;
}
div.card-details h2{ 
  font-size: 14px;
  margin: 10px 0;
  color: $light-black;
}
div.card-details h4{ 
  font-size: 10px;
  margin: 0 auto;
  margin-bottom: 5px;

}
div.card-top:hover {
  box-shadow: 3px -6px 4px rgba(0,0,0,.1);
  transition: box-shadow .2s cubic-bezier(0,.2,.4,1);
}

div.card-img {
  // width: 100%;
  width: 250px;
  height: 130px;
  padding: 0;
  overflow: hidden;
  // background-image: url("http://res.cloudinary.com/eventbike/image/upload/v1511497460/joe-neric-223562_okhigx.jpg");
  background-position: center;
  background-repeat: no-repeat;
}
span.card-details {
  width: 200px;
  padding: 15px;
}

span.card-attendees {

}
div.card-top {
  background:white;
  // width: 500px;
}

div.card.long div.card-top {
  width: 500px;
}

div.card.long div.card-footer {
  width: 500px;
}

span.card-actions .active{
  color: $light-green;
}

@media (max-width: 600px) {
  // li.events-list-item {
  //   width: 400px;
  //   height: 300px;
  // }

  div.card {
    width: 350px;
  }

  div.card-top {
    flex-direction: column;
  }
}

// div.card .square {
//   flex-direction: column;
// }
div.card-footer span{
  margin-top: 5px;
}
div.col div.card {
  width: 250px;
  height: 300px;
  margin: auto;
  // flex-direction: column;
}
div.card.square .card-top {
  flex-direction: column;
}
div.card.square {
  background: $light-grey;
}
// div.card .card-top {
//   background: white;
// }
//hover effect for bookmark button
span.card-actions > button.active:hover {
  color: $dark-green;
  transition-delay: 2s;
  -webkit-transition: color 0.5s ease-out;
  -moz-transition: color 0.5s ease-out;
  -o-transition: color 0.5s ease-out;
  transition: color 0.5s ease-out;
}
span.card-actions {
  padding-right: 5px;
}
div.col {
  // width: 32%;
  background: $light-grey;
  flex: 1;
  // padding:   100px;
  margin-bottom: 10px;
}

div.card.long div.card-details {
  // color: red;
  text-align: left;
}

// div.card-footer span:nth-child(2) {
//   height: 10px;
// }



// div.card-top .square {
//   flex-direction: column;
// }

// li.events-list-item div.card-top {
//   flex-direction: column;
// }

// ul.events-list.squares li.events-list-item{
//   width: 400px;
//   height: 300px;
// }