@import "util/variables.scss";

div.event-show-header {
  display: flex;
}
div.event-show-hero-img {
  width: 65%;
  height: 300px;
  overflow: hidden;

}
div.event-show-details {
  width: 35%;
  background: $light-grey;
}

div.action-bar > span.bookmark-button {
  margin: 20px;
  font-size: 35px;
  width: 100%;
  height: auto;
  padding-left: 30px;
  // padding: 20px;
}

div.register-modal {
  background: white;
}

div.register-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  height: 40%;
  background: white;
  padding: 20px;
  margin: 100px auto;
  border: 1px solid black;
  animation: bounce 0.2s;
}
.register-modalOverlay_after-open{
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(16, 14, 14, 0.75);
}

div.closeButton.small {
  width: 24px;
  height: 24px;
  
}
div.closeButton.small > span.closeButton{
  font-size: 14px;
  
}
div.action-bar {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $light-grey;
}
button.open-register-modal, span.register-button button.register {
  background: $light-green;
  width: 150px;
  height: 20px;
  padding: 5px;
  color: white;
  text-align: center;
  // margin-top: 20px;
  // margin-bottom: 20px;
  margin: 20px;

}
button.open-register-modal:hover, span.register-button button.register {
  background: $dark-green;
  transition-delay: 2s;
  -webkit-transition: background 0.5s ease-out;
  -moz-transition: background 0.5s ease-out;
  -o-transition: background 0.5s ease-out;
  transition: background 0.5s ease-out;

}
button.open-register-modal.cancel:hover {
  background: rgb(121, 7, 7);
  // transition-delay: 2s;
  // -webkit-transition: background 0.5s ease-out;
  // -moz-transition: background 0.5s ease-out;
  // -o-transition: background 0.5s ease-out;
  // transition: background 0.5s ease-out;

}

div.register-modal-text h2, div.register-modal-text p {
  font-family: "Oxygen";
  font-weight: 700;
  text-align: center;
  padding: 10px;
}

div.register-modal-text p {
  margin-top: 10px;
  font-weight: 300;
  width: 300px;
  height: 100px;
  margin: 5px auto;
  // white-space: nowrap;
  overflow: scroll;
}

div.register-modal-text p.overflow-ellipsis {
  // text-overflow: ellipsis;
}
div.register-modal-text div.register-button {
  // margin: 0 auto;
  margin-top: 25px;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  
} 
div.register-button button{
  background: $dark-green;
  width: 100px;
  // height: 10px;
  color: white;
  padding: 10px;
  text-align: center;
}

// button.cancel {
//   background: red;
// }

div.register-button button.cancel, button.cancel {
  background: red;
}

div.register-button button:hover{
  box-shadow: 3px -3px 1px #bdbdbd;
  -webkit-transition: box-shadow 0.5s ease-out;
  -moz-transition: box-shadow 0.5s ease-out;
  -o-transition: box-shadow 0.5s ease-out;
  transition: box-shadow 0.5s ease-out;
}