// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "util/variables.scss";


div.events-sidenav {
  padding: 20px;
  height: 650px;
  width: 218px;
  margin-left: 100px;
  
  // transform: translate(0, -200px);
}



//cycling events in san francisco california
div.events-index-container h1 {
  font-size: 24px;
  margin-top: 60px;
  padding: 50px;
  margin: 0 auto;
  margin-left: 100px;
  margin-bottom: 80px;

}
//side nav and events index container
div.events-container {
  display: flex;
  background: $background-grey;
  // align-items: center;
  // justify-content: space-around;
}

div.events-index-container {
  padding: 20px;
  padding-left: 80px;
  width: 700px;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid $color-orange; /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

// action buttons

div.event-container-actions .active{
  color: green;
}

//hide sidenav if screen is too small
@media (max-width: 600px) {
  div.events-sidenav {
    display: none;
  }
}

div.loading-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  height: 30%;
  // background: white;
  padding: 20px;
  margin: 100px auto;
  // border: 1px solid black;
}
.loading-modalOverlay_after-open{
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(85, 83, 83, 0.75);
}

li.dropdown {
  width: 200px;
  height: 100px;
  overflow: hidden;
  position: relative;
}

li.dropdown:hover {
  // padding: 40px;

}
li.dropdown img {
  width: 100%;
  vertical-align: top;
}
//http://jsfiddle.net/9z26ky19/
li.dropdown:after {
  content:'\A';
  position:absolute;
  width:100%; height:100%;
  top:0; left:0;
  background:rgba(0,0,0,0.6);
  opacity:0;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}
li.dropdown:hover:after {
  opacity: 1;
}
div.cat-text {
  z-index: 4;
  // background: white;
  font-size: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  color:white;
  font-family: "Fugaz One";
  transform: translate(-50%, -50%);
  text-shadow: 0px 0px 8px black;
}
// li.dropdown a {
//   z-index: 4;
//   position: absolute;
// }
div.sidenav-container button {
  font-size: 24px;
  font-family: "Kalam";
}
@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

button.pageNumber {
  font-size: 16px;
  width: 32px;
  height: 32px;
  padding: 5px;
  text-align: center;
  color: white;
  background: $light-blue;
}
button.pageNumber:first-child {
  margin-left: 30%;
}
button.pageNumber:last-child {
  margin-right: 30%;
}

#pages {
  display: flex;
  justify-content: space-around;
}

#events-index-header {
  // margin-top: 100px;
  // width: 200px;
  // height: 100px;
  overflow: hidden;
  position: relative;
  padding: 20px;
  // margin: 0 auto;
}

// #events-index-header:after {
//   content:'\A';
//   position:absolute;
//   width:100%; height:100%;
//   top:0; left:0;
//   // background:rgba(0,0,0,0.6);
//   opacity:1;
//   transition: all 0.5s;
//   -webkit-transition: all 0.5s;
// }
li.dropdown:hover:after {
  opacity: 1;
}
div.header-txt {
  text-align: center;
  z-index: 4;
  // background: white;
  font-size: 36px;
  padding: 20px;
  padding-bottom: 10px;
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // color: white;
  font-family: "Roboto";
  // transform: translate(-50%, -50%);
  // text-shadow: 0px 0px 3px black;
}

#map-container {
  width: 500px;
  height: 300px;
  padding-bottom: 20px;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  margin-bottom: 20px;
}