// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "util/variables.scss";

//list item
div.event-container-body h4, h3, h2 {
  margin: 0;
  text-overflow: ellipsis;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 300;
  
}
//datetime
div.event-container-body h3 {
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-top: 10px;
  padding-right: 20px;
}
//title (give higher font weight!)
div.event-container-body h2 {
  font-size: 16px;
  color: $light-black;
  max-height: 40px;
  width: 400px;
  padding-bottom: 20px;

}
//venue
div.event-container-body h4 {
  font-size: 12px;
  color: $dark-grey;
}

div.events-sidenav {
  padding: 20px;
}
//hide sidenav if screen is too small
@media (max-width: 600px) {
  div.events-sidenav {
    display: none;
  }
}
//cycling events in san francisco california
div.events-index-container h1 {
  font-size: 24px;
  margin-top: 20px;
  padding: 10px;
}
//side nav and events index container
div.events-container {
  display: flex;
  background: $background-grey;
}
//singular event container
div.event-container {
  padding:10px;
  width: 80%;
  height: 150px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 1px 0 0 rgba(0,0,0,.1);
  transition: box-shadow .2s cubic-bezier(0,.2,.4,1);
}
div.event-container div.top-row {
  display: flex;
}

div.event-container-body {
  padding: 0 20px;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
div.event-footer {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid $light-grey;
}
div.event-container-img{
  width: 200px;
  height: 130px;
  padding: 10px;
  background-image: url("http://res.cloudinary.com/eventbike/image/upload/v1511497460/joe-neric-223562_okhigx.jpg");
  background-position: center;
  background-repeat: no-repeat;

}

div.events-index-container ul li {
  background: white;
  margin: 0 0 10px 0;
  
}

div.event-container-actions {
  // padding-bottom: 10px;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}