div.flash-container {
  padding: 10px;
  position: absolute;
  // left: 50%;
  // -webkit-transform: translateX(-50%);
  // transform: translateX(-50%);
  z-index: 2;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.flash-container ul {
  height: 100%;
  // display: flex;
  width: 600px;
  // justify-content: center;
  // flex-direction: column;
  // align-items: center;  
  // width: 100%;
  height: 20%; 
  // opacity: 0.8;
}
.flash-container ul li{
  // background: red;
  opacity: 0.8;
  // text-align: center;
  background: red;
  width: 80%;
  padding: 15px;
  color: white;
  border-radius: 10px;
  z-index: 1;
  animation: riseFromBottom 1s;
}

li.flash-item {
  display: flex;
  justify-content: space-between;
}
// div.flash-item > button{
//   align-self: right;
// }
@keyframes riseFromBottom{
  from {
    transform: translate(0, 100px);
  }
  to {
    transform: translate(0, 0);
  }
}