
div.footer {
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
}

div.footer a{
  padding: 10px 20px;
}

div.footer a:hover {
  // background: grey;
  color: rgb(66, 177, 237);
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  /* ...and now for the proper property */
  transition:.5s;
}