* {
  background: 'blue';
}
.closeButton {
  color: blue;
  font-size: 35px;
}
.closeButton:hover {
  color: red;
}
div.closeButton {
  background: green;
  margin-left: auto;
  width: 24px;
  height: 24px;
  border-radius: 40px;
  text-decoration: none;
}
.modalForm ul {
  margin: 0;
  padding: 0;
  position: relative;
  left: -20px;
  
}
.modalForm ul li {
  list-style-type: none;
  color: red;
}
div.modalForm form {
  background: yellow;
  display: flex;
  align-items: center;
  flex-direction: column;
}
div.modalForm input {
  background: blue;
  padding: 10px;
  width: 400px;
  height: 40px;
}
.modalForm h1{
  margin-bottom: 0;
}
.modalForm h2{
  margin-top: 10px;
  margin-bottom: 50px;
}
span.brand {
  color: white;
  background: #f6682f;
  border-radius: 50px;
  font-size: 32px;
  padding: 10px;
  margin-bottom: 20px;
}
div.modalForm input[type="submit"] {
  margin-top: 30px;
  background: #f6682f;
  display: block;
  color: white;
  fill: white;
  padding: 10px;
  width: 400px;
  height: 40px;
  border-radius: 25px;
}
.modal_after-open {
  // position: relative;
  // top: 20%;
  // left: 20%;
  // right: 0;
  // bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;
  height: 85%;
  border: 1px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255);
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
  // margin-right: 0%;
  // transform: translate(-10%, -20%);
  margin: 50px auto;
  // animation: blowUp 0.5s;
  // animation-timing-function: ease-in;
  animation: growFromCenter 0.5s;
  
  //https://gist.github.com/CodeMyUI/60aa0f3b1e8589bb5bff#file-style-css-L35
  
}
.modal_before-close {
}

.modal_before-close {

}

.modalOverlay {
  
}
.modalOverlay_after-open {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(255, 255, 255, 0.75);
  

}

.modalOverlay_before-close {

}
//https://stackoverflow.com/questions/42632767/css-animations-grow-from-center
@keyframes growFromCenter {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}