body, html {
  height: 100%;
}
div.hero-container{
  // height: 50%;
  // padding: 200px;
  padding: 0px 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  height: 300px;
  overflow: hidden;
  // width: 
}


span.hero-image img{
  height: auto;
  width: 100%;
}

@media only screen and (max-width: 500px) {
  span.hero-image img{
    height: auto;
    width: 500px;
  }
  div.hero-text{
    width: 400px;
    height: 100px;
  }
}


div.hero-text {
  background: blue;
  display: block;
  // padding: 100px;
  position: absolute;
  // top: 300px;
  // margin: 0 auto;
  border: 1px solid black;
  // padding: 100px;
  // transform: translate(0, 200px);
  height: 200px;
  width: 500px;
  
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  // transfo÷rm: translate(50%, 50%);
}
div.hero-text p{
  text-align: center;
  // position: absolute;
  // background: white;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  color: rgb(121, 44, 44);
}

#cf4a img{
  animation-name: cf4FadeInOut;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 8s;
  position: absolute;
  left: 0;
}

/* http://css3.bradshawenterprises.com/cfimg/ */
@keyframes cf4FadeInOut {
  0% {
    opacity:1;
  }
  17% {
    opacity:1;
  }
  25% {
    opacity:0;
  }
  92% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

#cf4a img:nth-of-type(1) {
  animation-delay: 6s;
}
#cf4a img:nth-of-type(2) {
  animation-delay: 4s;
}
#cf4a img:nth-of-type(3) {
  animation-delay: 2s;
}
#cf4a img:nth-of-type(4) {
  animation-delay: 0;
}
