body, html {
  height: 100%;
}
div.hero-image {
  background-image: url("http://res.cloudinary.com/eventbike/image/upload/v1511497460/joe-neric-223562_okhigx.jpg");
  height: 50%;
  // padding: 200px;
  padding: 140px 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  // position: relative;
}
div.hero-text {
  background: white;
  display: block;
  // padding: 100px;
  position: relative;
  border: 1px solid black;
  transform: translate(0, 200px);
  width: 85%;
  
  height: 200px;
}
div.hero-text p{
  text-align: center;
  // position: absolute;
  // background: white;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  color: rgb(121, 44, 44);
}