@import "util/variables.scss";

div.top-nav span.nav-brand a{
  display: block;
  padding: 16px;
  border-right: 1px solid $light-grey;
  color: $color-orange;
  font-family: 'Kalam', cursive;
  letter-spacing: 1px;  
  font-size: 16px;
  // border-right: 1px solid black;
}

div.top-nav {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
}
div.top-nav-right {
  display: flex;
  justify-content: space-between;
}
div.user-dropdown {
  // background: blue;
  border-right: 1px solid $light-grey;
  border-left: 1px solid $light-grey;
  // padding: 20px;
  // position: relative;
  // display: inline-block;
}
div.user-dropdown:hover {
  background: $light-grey;
  transition: background 0.2s linear;
}
div.user-dropdown:hover ul.user-dropdown-content {
  display: block;
  background: white;
  transition: visibility 0.8s linear;
}
//dropdown

div.top-nav-right > a{
  // background: magenta;
  padding: 20px;
}
//user nav button

//browser events
div.top-nav-right a:first-child {
  border-left: 1px solid $light-grey;
}
//browse events hover
div.top-nav-right > a:first-child:hover {
  background: $light-grey;
  transition: background 0.2s linear;
}
//create event
div.top-nav-right > a:last-child {
  color: $light-blue;
  
}
//create event hover
div.top-nav-right > a:last-child:hover {
  color: $dark-blue;
  transition: color 0.2s linear;
  background: white; //override the hover background effect
}

div.top-nav-right a:nth-child(2):hover{
  background: $light-grey;
}

// ul.user-dropdown-content 
.user-dropdown > a{
  padding: 20px;
  display: block;
}

ul.user-dropdown-content li {
  padding: 10px 16px;
}


div.user-dropdown:hover ul.user-dropdown-content{
  
  animation: fadeIn 0.6s forwards;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes fadeOut {
  0% { opacity: 1; }
  99% { opacity: 0; }
  100% { 
    opacity: 0;
    display: none; }
}

ul.user-dropdown-content li:hover {
  background: $light-grey;
  transition: background 0.2s linear;
}
.user-dropdown-content {
  display: none;
  // opacity: 1.0;
  border-top: 1px solid black;
  z-index: 3;
  position: fixed;
  // animation: fadeOut 0.6s forwards;
  // animation-fill-mode: forwards;
  
  
}
ul.user-dropdown-content * {
 
}


