@import "util/variables.scss";
//brand
div.top-nav span.nav-brand a{
  display: block;
  padding: 0 16px;
  padding-top: 0px;
  border-right: 1px solid $light-grey;
  color: $color-orange;
  // font-weight: 700;
  letter-spacing: 0.5px;  
  font-size: 36px;
  font-family: 'Fugaz One';
  
  
  // border-right: 1px solid black;
}

div.top-nav {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $light-grey;
  letter-spacing: 0.5px;
  color: $light-black;
  font-family: 'Oxygen';
}
div.top-nav-right {
  display: flex;
  justify-content: space-between;
  // text-transform: uppercase;  
  font-size: 12px;
}
div.user-dropdown {
  // background: blue;
  border-right: 1px solid $light-grey;
  border-left: 1px solid $light-grey;
  // padding: 20px;
  // position: relative;
  // display: inline-block;
}
div.user-dropdown:hover {
  background: $light-grey;
  transition: background 0.2s linear;
}
div.user-dropdown:hover ul.user-dropdown-content {
  display: block;
  background: white;
  transition: visibility 0.8s linear;
}
//dropdown
//to allow more forgiving mouse movement;
div.submenu {
  display: none;
}

div.user-dropdown:hover div.submenu {
  display:block;
  opacity: 0;
  background: yellow;
  position: absolute;
  // float: left;
  // top: 0;
  // left: 20px;
  
  z-index: 3;
  width: 225px;
  height: 100px;
  transform: translate(-40px);
}

div.top-nav-right > a{
  // background: magenta;
  padding: 20px;
}

//browser events
div.top-nav-right a:first-child {
  border-left: 1px solid $light-grey;
}
//browse events hover
div.top-nav-right > a:first-child:hover {
  background: $light-grey;
  transition: background 0.2s linear;
}
//create event
div.top-nav-right > a:last-child {
  color: $light-blue;
  
}
//create event hover
div.top-nav-right > a:last-child:hover {
  color: $dark-blue;
  transition: color 0.2s linear;
  background: white; //override the hover background effect
}

div.top-nav-right a:nth-child(2):hover{
  background: $light-grey;
  // margin-bottom: 2px;
}
div.top-nav-right a:nth-child(2).flash{
  background: green;
  // margin-bottom: 2px;
}

// ul.user-dropdown-content 
.user-dropdown > a{
  padding: 20px;
  display: block;
}

ul.user-dropdown-content li {
  box-sizing: border-box;
  padding: 16px 20px;
  font-size: 15px;
  font-weight: 400;
  border: 1px solid $light-grey;
  border-top: none;
}
//username or sign in button
div.user-dropdown > a:first-child {
  text-transform: uppercase;
  
}

div.user-dropdown:hover ul.user-dropdown-content{
  animation: fadeIn 0.3s forwards;
}




@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
//non functional
@keyframes fadeOut {
  0% { opacity: 1; }
  99% { opacity: 0; }
  100% { 
    opacity: 0;
    display: none; }
}

ul.user-dropdown-content li:hover {
  background: $light-grey;
  transition: background 0.2s linear;
}

.user-dropdown-content {
  display: none;
  // margin-top: 2px;
  // opacity: 1.0;
  // border-top: 1px solid black;
  // transform: translate(0, 4px);
  z-index: 3;
  position: fixed;
  
  // animation: fadeOut 0.6s forwards;
  // animation-fill-mode: forwards;
  
  
}
ul.user-dropdown-content * {
 
}


