@import "util/variables.scss";

div.top-nav span.nav-brand a{
  display: block;
  padding: 20px;
  border-right: 1px solid black;
}

div.top-nav {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
}
div.top-nav-right {
  display: flex;
  justify-content: space-between;
}
div.user-dropdown {
  background: blue;
  // padding: 20px;
  // position: relative;
  // display: inline-block;
}
div.user-dropdown:hover {
  background: grey;
}
div.user-dropdown:hover ul.user-dropdown-content {
  display: block;
}
//dropdown
.user-dropdown > a{
  border-right: 1px solid black;
  padding: 20px;
  display: block;
  // padding: 20px;
}
div.top-nav-right > a{
  background: magenta;
  padding: 20px;
}

ul.user-dropdown-content {
  background: yellow;
  display: none;
}
ul.user-dropdown-content li {
  padding: 10px 16px;
}
.user-dropdown-content {
  z-index: 3;
  position: fixed;
}

div.top-nav-right > a{
  border-right: 1px solid grey;

} 
div.top-nav{
  text-decoration: underline;
}
// div.user-dropdown{
//   position: relative;
//   display: inline-block;
// }

// div.user-dropdown{
//   padding: 20px;
//   display: block;
//   border: 1px solid black;
//   border-top: 0;
//   border-bottom: 0;
// }
// .user-dropdown-content{
//   // padding: 20px;

//   display: none;
//   // padding: 12px 16px;
//   position: absolute;
//   // margin: 10px;
//   z-index: 1;
// }

// div.user-dropdown:hover .user-dropdown-content {
//   display: block;

// } 
// ul.user-dropdown-content:hover {
//   display: block;
// }

// div.top-nav-right a{
//   padding: 20px;
// }